#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 32
set steam_webApiKey "5A0420ADC974F6C6E34BCE9913871563"
rcon_password "Stella101010!!"
sets tags "default, deployer, qbcore, qb-core"
sv_tebexSecret e0c769deb60168889753f3762f5542d93ac45afb

## You MAY edit the following:
sv_licenseKey "cfxk_1JVK2ivFFwjmGr8TA0HA6_3GiUE8"
sv_hostname "Transport Simulator 2025"
sets sv_projectName "Transport Simulator 2025"
sets sv_projectDesc "Transport Simulator 2025"
sets locale "en-US"
sets activitypubFeed "TransportSimulator2025"
load_server_icon myLogo.png
sv_enforceGameBuild 3095 #DLC The Chop Shop
set resources_useSystemChat true
set mysql_connection_string "mysql://root@localhost/QBCoreFramework_547F6A?charset=utf8mb4"
sets Owner Benz
sets Developer Benz
sets Discord "https://discord.gg/jaah866Vj3"
sets Website "https://transport-simulator-2025.tebex.io"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure qb-core
ensure [depends]
ensure [qb]
ensure [standalone]
ensure [addons]
ensure [voice]
ensure [defaultmaps]
ensure [cars]

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:2741925 group.god #Bookathebull
add_principal identifier.discord:1143756989302853772 group.god #Bookathebull

# Player Permissions
add_principal identifier.license:4b064759e8b9e4320ee52807bf50fedfd141194d qbcore.god # benz
add_principal identifier.license:c50d4a0123c795f2e25ea4b3d33853a907ad5c1e qbcore.god # jordan
add_principal identifier.license:d9e59c596622e11050d344c0bf0a467858b6fbd5 qbcore.god # ace

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands


add_ace identifier.license:4b064759e8b9e4320ee52807bf50fedfd141194d jobcreator allow # Add permission to 'Cxrpse989' Rockstar license

add_ace resource.rcore_guidebook command.add_ace allow
add_ace resource.rcore_guidebook command.remove_ace allow
add_ace resource.rcore_guidebook command.add_principal allow
add_ace resource.rcore_guidebook command.remove_principal allow